<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" id="linkMonitor">Monitor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" id="linkLogin">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" id="linkLogout">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<script>
    let linkLogin = document.getElementById("linkLogin");
    let linkLogout = document.getElementById("linkLogout");
    let linkMonitor = document.getElementById("linkMonitor");
    let token = localStorage.getItem("token");

    if(token){
        linkLogin.style.display = "none";
    }else{
        linkMonitor.style.display = "none";
        linkLogout.style.display = "none";
    }


    linkLogout.addEventListener("click", (event) => {
        event.preventDefault();
        localStorage.clear();
        location.href = "/home";
    })

    linkMonitor.addEventListener("click", (event) => {
        event.preventDefault();
        location.href = "/monitor?token="+token
    })



</script>